.main-container {
  background: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.center-main-container {
  width: 50vw;
  height: 70vh;
  max-width: 1200px;
  max-height: 800px;
  background: #D9A60D;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  float: right;
  text-align: center;
  justify-content: center;
}

.center {
  height: 100%;
  margin: 0;
}

.form {
  height: 35%;
  margin: 0;
  padding: 25px;
}

.table {
  height: 65%;
  margin: 0;
  overflow:auto;
}

.btn-primary {
  background-color: #162C55;
  border-color: #162C55;
}

.btn-primary:hover {
  background-color: #162C55;
  border-color: #162C55;
}

table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  
}

th {
  border-top: 1px solid #ad850b !important;
  border-bottom: 1px solid #ad850b !important;
  
}

td {
  width: 25%;
  height: 130px;
  border-top: 1px solid #ad850b !important;
}

.inner {
  border-left: 1px solid #ad850b !important;
  border-right: 1px solid #ad850b !important;
}

.table-log {
  height: 100%;
  width: 30vw;
  /* padding-top: 50px; */
  overflow: scroll;
}

h2 {
  margin-top: 50px;
}

#miastaUzytkownika{
  height:100%;
}
#wyszukiwarka{
  height:100%;
}