{% extends "./navbar/navbar.html" %}

{% block title%}
Logowanie
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="../../static/login/style.css">
{% endblock %}

{% block extrascript %}
{% endblock%}

{% block content %}
<div class="login-main-container">
  <div class="login-center-container">
    <div class="cat"></div>
    <div class="form">
      <form method="POST">
        <div class="badge badge-secondary">          
          <h1>Witaj przyjacielu!</h1>
        </div>
        <div class="">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
        <div class="">
          <input type="password" class="form-control" id="password" name="password" placeholder="Hasło">
          <small id="password" class="form-text text-muted">Nie masz konta? <a href="signup" class="pytanko">Zarejestruj się</a></small>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Zaloguj</button>
      </form>
    </div>
  </div>
</div>
{% endblock%}