{% extends "./navbar/navbar.html" %}

{% block title%}
Strona główna
{% endblock %}


{% block extracss %}
<link rel="stylesheet" href="../../static/home/style.css" />
{% endblock %}

{% block extrascript %}
<script src="../../static/home/script.js"></script>
{% endblock%}

{% block content %}
<div class="main-container">
    <div class="center-main-container">
        <div class="center">
            {% if not current_user.is_authenticated %}
            <div class="form">
                <div><h2>Znajdź pogodę dla Twojego miasta</h2></div>
                </br>
                <form method="POST">
                    Wybierz miasto:
                    <label for="miasta"></label>
                    <input list="miasta" id="miasto_data" name="miasto_data" required>
                
                    <datalist name="miasta" id="miasta">
                        {% for citi in cities %}
                        <option id="miasto" name="miasto" value={{citi.nazwa_miasta}}>
                        {% endfor %}
                    </datalist>
                
                    <button type="submit" class="btn btn-primary">Szukaj</button>
                    </br>
                    </br>
                </form>
            </div>
            <div class="table">
                <table>
                    <tr>
                        <th>Miasto</th>
                        <th class="inner">Minimalna</br> temperatura</th>
                        <th class="inner">Maksymalna</br> temperatura</th>
                        <th>Stan pogody</th>
                    </tr>
                    <tr>
                        <td>{{pogoda1[0]}}</td>
                        <td class="inner">{{pogoda1[1]}}</td>
                        <td class="inner">{{pogoda1[2]}}</td>
                        <td> {% if pogoda1[3] == "pogodnie" %}
                            <img src="http://openweathermap.org/img/wn/01d@2x.png"></img>
                            {% endif %}
                            {% if pogoda1[3] == "deszcz" %}
                            <img src="http://openweathermap.org/img/wn/09d@2x.png"></img>
                            {% endif %}
                            {% if pogoda1[3] == "burza" %}
                            <img src="http://openweathermap.org/img/wn/11d@2x.png"></img>
                            {% endif %}
                            {% if pogoda1[3] == "śnieg" %}
                            <img src="http://openweathermap.org/img/wn/13d@2x.png"></img>
                            {% endif %}
                            {% if pogoda1[3] == "mgliście" %}
                            <img src="http://openweathermap.org/img/wn/50d@2x.png"></img>
                            {% endif %}
                            {% if pogoda1[3] == "pochmurnie" %}
                            <img src="http://openweathermap.org/img/wn/02d@2x.png"></img>
                            {% endif %}
                            {% if pogoda1[3] == "mżawka" %}
                            <img src="http://openweathermap.org/img/wn/10d@2x.png"></img>
                            {% endif %}</td>
                    </tr>
                </table>
            </div>
            {% endif %}
            {%if miasto%}
            <div class="table">
                <table >
                    <tr>
                        <th>Miasto</th>
                        <th class="inner">Minimalna</br> temperatura</th>
                        <th class="inner">Maksymalna</br> temperatura</th>
                        <th>Stan pogody</th>
                    </tr>
                    {% for m in miasto %}
                    <tr>
                        <td>{{m[0]}}</td>
                        <td class="inner">{{m[1]}}</td>
                        <td class="inner">{{m[2]}}</td>
                        <td> {% if m[3] == "pogodnie" %}
                            <img src="http://openweathermap.org/img/wn/01d@2x.png"></img>
                            {% endif %}
                            {% if m[3] == "deszcz" %}
                            <img src="http://openweathermap.org/img/wn/09d@2x.png"></img>
                            {% endif %}
                            {% if m[3] == "burza" %}
                            <img src="http://openweathermap.org/img/wn/11d@2x.png"></img>
                            {% endif %}
                            {% if m[3] == "śnieg" %}
                            <img src="http://openweathermap.org/img/wn/13d@2x.png"></img>
                            {% endif %}
                            {% if m[3] == "mgliście" %}
                            <img src="http://openweathermap.org/img/wn/50d@2x.png"></img>
                            {% endif %}
                            {% if m[3] == "pochmurnie" %}
                            <img src="http://openweathermap.org/img/wn/02d@2x.png"></img>
                            {% endif %}
                            {% if m[3] == "mżawka" %}
                            <img src="http://openweathermap.org/img/wn/10d@2x.png"></img>
                            {% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {%endif%}

        </div>
    </div>
</div>



<br>
<!--{% for p in pogoda2 %}
{{p}}
{% endfor %} -->

<!-- {{miasto}} -->

<br>
<!--
{% for m in miasto %}
{{m}}
{% endfor %}
-->
{% endblock%}