{% extends "./navbar/navbar.html" %}

{% block title%}
Home
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="../../static/home/style.css" />
{% endblock %}

{% block extrascript %}
<script src="../../static/home/script.js"></script>
{% endblock%}

{% block content %}
{% if not current_user.is_authenticated %}
<form method="POST">
    Miasta: </br>
    <label for="miasta"></label>
    <input list="miasta" id="miasto_data" name="miasto_data">
    <datalist name="miasta" id="miasta">
        {% for citi in cities %}
        <option id="miasto" name="miasto" value={{citi.nazwa_miasta}} />
        {% endfor %}
    </datalist>
    <button type="submit">Szukaj</button>
    </br>
</form>
{% for p in pogoda1 %}
{{p}}
{% endfor %}

{% if pogoda1[3] == "pogodnie" %}
<img src="http://openweathermap.org/img/wn/01d@2x.png"></img>
{% endif %}
{% if pogoda1[3] == "deszcz" %}
<img src="http://openweathermap.org/img/wn/09d@2x.png"></img>
{% endif %}
{% if pogoda1[3] == "burza" %}
<img src="http://openweathermap.org/img/wn/11d@2x.png"></img>
{% endif %}
{% if pogoda1[3] == "śnieg" %}
<img src="http://openweathermap.org/img/wn/13d@2x.png"></img>
{% endif %}
{% if pogoda1[3] == "mgliście" %}
<img src="http://openweathermap.org/img/wn/50d@2x.png"></img>
{% endif %}
{% if pogoda1[3] == "pochmurnie" %}
<img src="http://openweathermap.org/img/wn/02d@2x.png"></img>
{% endif %}
{% if pogoda1[3] == "mżawka" %}
<img src="http://openweathermap.org/img/wn/10d@2x.png"></img>
{% endif %}
{% endif %}

{{miasto}}


<br>
<!--{% for p in pogoda2 %}
{{p}}
{% endfor %} -->

<!-- {{miasto}} -->

<br>
<!--
{% for m in miasto %}
{{m}}
{% endfor %}
-->
{% endblock%}