{% extends "./navbar/navbar.html" %}

{% block title%}
Ustawienia
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="../../static/home/style.css" />
{% endblock %}

{% block extrascript %}
{% endblock%}

{% block content %}
<div class="main-container">
    <div class="center-main-container">
        
        <form method="POST">
            <h2> Edycja ustawień </h2>
            <div class="">
                <input type="text" class="form-control" id="username" name="username" placeholder="username">
            </div>
            <div class="">
                <input type="text" class="form-control" id="haslo" name="haslo" placeholder="haslo">
            </div>
            
            <br>
            <input class="form-check-input" type="radio" name="temp" id="temp" value="1" checked>
            <label class="form-check-label" for="flexRadioDefault2">°C</label>
            <br>
            <input class="form-check-input" type="radio" name="temp" id="temp" value="2">
            <label class="form-check-label" for="temp">°F</label>
            <br>
            <input class="form-check-input" type="radio" name="predkosc" id="predkosc" value="4" checked>
            <label class="form-check-label" for="flexRadioDefault2">km/h</label>
            <br>
            <input class="form-check-input" type="radio" name="predkosc" id="predkosc" value="5">
            <label class="form-check-label" for="predkosc">mph</label>
            <br>
            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
            
            <h2> Miasta </h2>
            <label for="miasta"></label>
            <input list="miasta" id="miasto_data" name="miasto_data">
            <datalist name="miasta" id="miasta">
                {% for citi in cities %}
                <option id="miasto" name="miasto" value={{citi.nazwa_miasta}} />
                {% endfor %}
            </datalist>
            
            </br>
            <button type="submit" class="btn btn-primary">Dodaj miasto do ulubionych</button>
            <br>
            
        
        </form>

    </div>
</div>





{% endblock%}